.domain-fragment-plot-container .promiscuity-plot-container {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.domain-fragment-plot-container,
.promiscuity-plot-container {
    min-height: 100px;
}

.chord-plot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
