.domainFragmentPlotContainer .promiscuityPlotContainer {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.domainFragmentPlotContainer,
.promiscuityPlotContainer {
    min-height: 100px;
}
