.search-container {
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    background: var(--light);
    border: var(--light-border);
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.search-mode {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.mode-option {
    display: flex;
    align-items: center;
    line-height: normal;
    gap: 6px;
    cursor: pointer;
}

.mode-option input {
    cursor: pointer;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-light);
}

.protein-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--light);
    border: var(--light-border);
    border-top: none;
    z-index: 1000;
    box-shadow: var(--shadow);
}

.dropdown-option {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--text);
}

.dropdown-option:hover {
    background-color: var(--secondary);
    color: white;
}
