.sidebar {
    background: white;
    border-radius: 12px;
    box-shadow: var(--shadow);
    padding: 10px;
    align-self: start;
    position: sticky;
    top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-section {
    margin-bottom: 5px;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: var(--soft-border);
    cursor: pointer;
}

.sidebar-title h2 {
    font-size: 1.3rem;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 12px;
}

.sidebar-title i {
    font-size: 1.2rem;
    color: var(--secondary);
    transition: transform 0.3s;
}

.collapsed .sidebar-title > i {
    transform: rotate(180deg);
}

aside.sidebar.collapsed {
    position: fixed;
    top: 90px;
    left: 10px;
    width: auto;
    padding: 8px;
    z-index: 1050;
    background: var(--light);
    box-shadow: var(--shadow);
    border-radius: 12px;
}

aside.sidebar.collapsed .sidebar-title {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    justify-content: center;
}

aside.sidebar.collapsed .sidebar-title h2 {
    margin: 0;
    gap: 8px;
}

aside.sidebar.collapsed .sidebar-title h2 span {
    display: none;
}

aside.sidebar.collapsed .sidebar-content {
    display: none;
}

.main-content .grid.sidebar-collapsed .content-column {
    grid-column: 1 / -1;
}

.sidebar-section.collapsed .sidebar-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s, opacity 0.3s;
}

.sidebar-section .sidebar-content {
    max-height: 2000px;
    overflow-y: visible;
    overflow-x: hidden;
    opacity: 1;
    transition: max-height 0.3s, opacity 0.3s;
}

.sidebar .sidebar-section ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.sidebar .sidebar-section ul li {
    margin-bottom: 5px;
}

.sidebar .sidebar-section ul li:last-child {
    margin-bottom: 0;
}

.sidebar .sidebar-section ul li a {
    padding: 8px 12px;
    text-decoration: none;
    color: var(--primary);
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
    font-weight: 500;
}

.sidebar .sidebar-section ul li a:hover {
    color: var(--secondary);
}

@media (max-width: 1024px) {
    .sidebar {
        width: 100%;
        z-index: 100;
        margin-bottom: 20px;
        border-radius: 12px;
        box-shadow: var(--shadow);
        padding: 10px;
    }
}
