.info-btn {
    cursor: help;
    color: var(--secondary);
    padding: 5px;
}

.info-tooltip {
    background-color: #333;
    color: white;
    width: 240px;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: var(--shadow);
    text-align: left;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.5;
}

.info-tooltip.visible {
    visibility: visible;
    opacity: 1;
}

.info-tooltip h4 {
    margin: 0 0 8px 0;
    font-size: 1em;
    color: var(--light);
    border-bottom: var(--light-border);
    padding-bottom: 5px;
}